<h1>Formulario</h1>
<form (ngSubmit)="registers()" #myForm="ngForm">
<div class="form-group">
  <label>Name</label>
  <input type="text" required [(ngModel)]="register.name" name="name">

</div>
<div>
  <label>Email</label>
  <input type="email" required [(ngModel)]="register.email" name="email">

</div>
<div>
  <label>Password</label>
  <input type="password" required [(ngModel)]="register.password" name="password">
</div>
<button [disabled]="myForm.invalid" type="submit">enviar</button>
</form>
<h1>NGclass y ngStyle</h1>
<div>

  <input type="number" [(ngModel)]="box.width">
  <input type="number" [(ngModel)]="box.height">
  <input type="color" [(ngModel)]="box.background">
</div>
<div [ngStyle]="{
  'width.px':box.width,
  'height.px':box.height,
  'background':box.background,
}"></div>
<hr>
<input type="text" #inputClass9="ngModel" [(ngModel)]="objeto.name">

<hr class="line-error" [ngClass]="{
'valid':inputClass9.valid,
'invalid':inputClass9.invalid,
}"/>
<h1>class y style</h1>
<input type="text" #inputClass="ngModel" [(ngModel)]="objeto.name">
<p class="mensaje_error" [class.active]="inputClass.invalid">hola</p>
<label>valor</label>
<input required [(ngModel)]="objeto.name"  #inputClases="ngModel">
<p [style.font-style]="inputClases.invalid ? 'italic':'normal' ">perro</p>
<h1>ngswitch</h1>
<input required [(ngModel)]="objeto.name">
<div [ngSwitch]="objeto.name">

  <p *ngSwitchCase="'angel' ">no soy angel</p>
  <p *ngSwitchCas=" 'pedro'  ">soy mayor</p>

  <p *ngSwitchDefault>No hay</p>

</div>
<div class="grid">
  <div *ngFor="let producto of products">
    <img [src]="producto.image"alt="">
    <p>{{producto.price}}</p>
    <p>{{producto.name}}</p>



  </div>
</div>
<hr>
<h1>*ngfor array</h1>
<input #nameInput2="ngModel" [(ngModel)]="newname">
<button (click)="guardar()">guardar</button>
<ul>
  <li *ngIf="nombres.length==0">no hay nada</li>
  <li *ngFor="let name of nombres; index as i">
    {{i}}{{name}}<button (click)="delete_add(i)">eleminar</button>
  </li>
</ul>
<hr>
<h1>*ngif</h1>
<input #nameInput2="ngModel" [(ngModel)]="objeto.age">
<p *ngIf="objeto.age !=18 ">no soy mayor</p>
<p *ngIf="objeto.age == 28  else  elseBlock">soy mayor</p>
<ng-template #elseBlock>
  <p>No hay</p>
</ng-template>
<h1>ngmodel</h1>
<input type="text" #nameInput="ngModel" [(ngModel)]="objeto.name" required />
<p>valid:{{nameInput.valid}}</p>
<h1>eventos</h1>
<button (click)="toggle()">estado</button>
<button (click)="auEdad()">edad</button>
<div class="box" (scroll)="onscroll($event)">
  <p>Aliquip commodo id esse nulla sint incididunt velit mollit aliqua aliquip. Do labore qui consectetur amet
    reprehenderit proident. Ullamco sit ullamco pariatur reprehenderit proident id irure sint voluptate consequat
    officia enim. Qui commodo ex consequat sunt. Laborum laboris pariatur quis nisi ipsum nulla adipisicing sunt
    voluptate eiusmod est proident sint.</p>
</div>
<hr>
<h1>property binding</h1>
<button [disabled]="disabledButton">boton</button>
<input [value]="objeto.age" (keyup)="data($event)" />
<hr>
<h1>hola mundo {{objeto.name}}</h1>
<h2>{{"holas".repeat(2)}} {{nombre}}</h2>
<img src="{{img}}">
